@font-face {
  font-family: TetrisText;
  src: url(TetrisText.ttf);
}

body {
  background-color: #222;
  font-family: TetrisText, monospace;
}

:first-child {
  margin-top: 0;
}

div#content {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 2fr 4fr 7fr 3fr;
  grid-template-areas: "ccRotate  info      cwRotate"
                       "ccRotate  board     cwRotate"
                       "leftMove  board     rightMove"
                       "hardDrop  softDrop  softDrop";
  grid-gap: .2em;
  height: 97vh;
}

div#ccRotate {
  grid-area: ccRotate;
}

div#info {
  grid-area: info;
  background-color: #333;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "nextPiece score"
                       "nextPiece lines"
                       "nextPiece level";
}

div#nextPiece {
  grid-area: nextPiece;
  background-color: gray;
}

div#score {
  grid-area: score;
  background-color: lightgray;
}

div#lines {
  grid-area: lines;
  background-color: gray;
}

div#level {
  grid-area: level;
  background-color: lightgray;
}

div#cwRotate {
  grid-area: cwRotate;
}

div#board {
  grid-area: board;
  background-color: black;
}

div#leftMove {
  grid-area: leftMove;
}

div#rightMove {
  grid-area: rightMove;
}

div#hardDrop {
  grid-area: hardDrop;
}

div#softDrop {
  grid-area: softDrop;
}

div.gameControl {
  background-color: #333;
  border: .1em solid #444;
}
